.contacts {
  display: flex;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  @extend %link;
  color: $current-text-color;
  transition: color $duration $function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
