.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  .page-header & {
    display: flex;
  }

  .hero & {
    width: 696px;
    padding: 0;
  }

  .footer & {
    display: flex;
    align-items: baseline;
  }
}
