.hero {
  display: flex;
  align-items: center;
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;

  background-color: $minor-background-color;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img-sq.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin: 0 auto 30px;
  padding: 0;

  color: $current-light-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
