%navigation__icon {
  margin-right: 10px;
  fill: currentColor;
}

.envelope {
  @extend %navigation__icon;
  @include icon(16px, 12px);
}

.smartphone {
  @extend %navigation__icon;
  @include icon(10px, 16px);
}

.antenna,
.clock,
.diagram,
.astronaut {
  @include icon(70px, 70px);

  --current-icon-color: #{$current-title-color};
  --accent-icon-color: #{$accent-color};
}

.icon-social {
  display: flex;
  justify-content: center;
}

.icon-social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.icon-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $social-passive-color;
}

.icon-social__icon {
  @include icon(20px, 20px);
  fill: currentColor;
}
