%navigation__icon {
  margin-right: 10px;
  fill: currentColor;
}

.envelope {
  @extend %navigation__icon;
  @include icon(16px, 12px);
}

.smartphone {
  @extend %navigation__icon;
  @include icon(10px, 16px);
}

.antenna,
.clock,
.diagram,
.astronaut {
  @include icon(70px, 70px);

  --current-icon-color: #{$current-title-color};
  --accent-icon-color: #{$accent-color};
}

.icon__social {
  @include icon(20px, 20px);
}

.icon__client {
  @include icon(106px, 60px);
}

.icon__send {
  @include icon(24px, 24px);
}
