.logo {
  display: block;
  font-family: $logo-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  transition: color $duration $function;

  &--header {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;

    color: $current-dark-color;
  }

  &--footer {
    color: $current-light-color;
  }

  &:hover.logo--header,
  &:focus.logo--header,
  &:hover.logo--footer,
  &:focus.logo--footer {
    color: $accent-color;
  }

  &--accent {
    color: $accent-color;
  }
}
