.section {
  padding-top: 94px;
  padding-bottom: 94px;

  text-align: center;

  &--no-padding-top {
    padding-top: 0;
  }

  &--background-color {
    background-color: $thumb-background-color;
  }
}
