$current-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;

$current-light-color: #ffffff;
$current-dark-color: #000000;
$minor-background-color: #2f303a;
$thumb-background-color: #f5f4fa;
$line-color: #ececec;

$current-text-color: #757575;
$current-title-color: #212121;
$accent-color: #2196f3;
$minor-accent-color: #188ce8;

$duration: 2250ms;
$function: cubic-bezier(0.4, 0, 0.2, 1); ;
